@media (max-width: 1399.98px){
    .services .services-card{
        width: 23%;
    }
    .clients .col-xxl-12 .col-xxl-5{
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 80px;
    }
    .portfolio-samples .col-xxl-4{
        width: 356px;
    }
    .footer-sm{
        width: 200px;
    }
}
@media (max-width: 1199.98px){
    
    .services .services-card .services-card_btn{
        width: 175px;
    }
    .advantages .advantages-content .col-xxl-4{
        padding-right: 50px;
        margin-bottom: 50px;
    }
    .advantages .advantages-content .col-xxl-4 img{
        width: 50px;
        height: 50px;
        margin-right: 50px;
    }
    .advantages .advantages-content .col-xxl-4 p{
        font-size: 16px;
    }
    .advertising-platforms img{
        width: 170px;
    }
    .clients .col-xxl-12 .col-xxl-5{
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 60px;
    }
    .portfolio-samples .col-xxl-4{
        width: 456px;
    }
}
@media (max-width: 991.98px){
    .navbar{
        transition: 1s;
        
    }
    .menu-btn{
        display: flex;
    }
    .navbar .navbar-nav{
        display: none ;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .navbar .open-item{
        display: flex;
        transition: all .5s ease-in-out;
        
    }
    .header .header-offer h1{
        font-size: 32px;
    }
    .header .header-offer p{
        font-size: 14px;
    }
    .services .services-card{
        width: 40%;
    }
    .services .col-md-12{
        justify-content: center !important;
        padding-bottom: 158px;
    }
    .services .col-md-12 .services-card{
        margin-bottom: 30px !important;
        margin-right: 15px;
        margin-left: 15px;
    }
    .portfolio-samples .col-xxl-4{
        width: 335px;
    }
    .footer{
        text-align: center !important;
    }
    .footer .row {
        justify-content: center !important;
    }
    .footer-contact{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: left !important;
    }
    .footer-logo{
        margin-bottom: 35px !important;
    }
    .footer-map_title,
    .footer-sm_title,
    .footer-copyright_title{
        font-size: 16px;
    }
    .footer-map_item,
    .footer-sm_link,
    .footer-copyright_text{
        font-size: 12px;
    }
    .footer-contact,
    .footer-map,
    .footer-sm,
    .footer-copyright{
        margin-bottom: 30px;
    }
}
@media (max-width: 767.98px){
    .portfolio-samples{
        justify-content: center !important;
    }
    .portfolio-samples .col-xxl-4{
        width: 550px;
    }
    .contacts-adress,
    .contacts-call,
    .contacts-mail{
        font-size: 12px !important;
        margin-top: 10px !important;
    }
    .contacts-form_name,
    .contacts-form_number{
        width: 100%;
    }
    .contacts-form_message,
    .contacts-form_name,
    .contacts-form_number{
        margin-bottom: 12px;
        font-size: 10px;
    }
    .footer{
        text-align: center !important;
    }
    .footer .row {
        justify-content: center !important;
    }
    .footer-contact{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: left !important;
    }
    .footer-logo{
        margin-bottom: 35px !important;
    }
    .footer-map_title,
    .footer-sm_title,
    .footer-copyright_title{
        font-size: 16px;
    }
    .footer-map_item,
    .footer-sm_link,
    .footer-copyright_text{
        font-size: 12px;
    }
    .footer-contact,
    .footer-map,
    .footer-sm,
    .footer-copyright{
        margin-bottom: 30px;
    }
    
}
@media (max-width: 575.98px){
    
}